/* Navbar */

:root {
    --primary-color: #FFFFFF;
    --secondary-color: #000000;
    --tetiary-color: #F4f5ff;
    --undertone-color: #C9C9C9;
    --btn-color: #33373E;
    --background-color: #282D35;
    --nav-color: #292b2c;
    --logo-color: #FFFFFF;
    --navicon-color: #C9C9C9;
    --yearprjt-color: #cc9966;
}

.light-theme {
    --primary-color: #000000;
    --secondary-color: #FFFFFF;
    --tetiary-color: #000000;
    --undertone-color: #36454F;
    --btn-color: #33373E;
    --background-color: #FFFFFF;
    --nav-color: #ebebeb;
    --logo-color: #282D35;
    --navicon-color: #33373E;
    --yearprjt-color: ##454545;
}

.logo {
    color: var(--logo-color);
    font-weight: bold;
    margin-left: 70px;
    font-size: 18px;
}
nav {
    background-color: var(--nav-color);
}
.logo:hover {
    color: var(--undertone-color);
}

.theme-image {
    width: 13px;
}

.button-text {
    font-weight: 400;
    font-size: 13px;
}

.btn {
    border: 0.2px solid var(--undertone-color);
    background-color: var(--btn-color);
    margin-right: 10%;
}

.idea {
    width: 18px;
}
.guitar {
    width: 18px;
}
.git {
    width: 18px;
}
.note-pad {
    width: 18px;
}

.about,.git-hub,.writing {
    color: var(--navicon-color);
    text-decoration: none;
}
.about:hover {
    color: var(--primary-color);
}
.music:hover {
    color: var(--primary-color);
}
.git-hub:hover {
    color: var(--primary-color);
}
.writing:hover {
    color: var(--primary-color);
}

body {
    background-color: var(--background-color);
}

/* @media (max-width: 200px){
   .idea {
    cursor: auto;
   }
} */

@media (max-width: 600px) {
    .logo {
        display: none;
    }
    .note-pad, .git, .logo {
        display: none;
    }
    .idea {
        padding-right: 10px;
        width: 35px;
    }
    .git-hub {
        margin: 0;
    }

    
    .bio {
        padding-right: 50px;
    }
    .toggler {
        margin-right: 20px;
        margin: 0;
    }
    .footer {
        padding-left: 30px;
        padding-right: 30px;
    }
    .footer-link {
        font-size: 12px;
    }
    
  }

  @media (max-width: 1500px) and (min-width: 930px){
    .planet-straight{
        display: none;
    }
  }
  @media (max-width: 930px) {
    .planet-arrangement {
        display: none;
    }
  }

/* Main Body*/
.greeting {
    font-size: 32px;
    /* color:  var(--tetiary-color); */
    color: var(--navicon-color);
    font-weight: bold;
    margin: 0 10% 0 10%;
    margin-top: 100px;
    overflow: hidden;
    text-align: left;

}
.intro {
    font-size: 25px;
    color: var(--undertone-color);
    padding: 0 10% 0 10%;
    overflow: hidden;
}

.bio {
    font-size: 18px;
    /* color: var(--primary-color); */
    color: var(--navicon-color);
    /* margin: 0 75px 0 75px ; */
    padding: 0 10% 0 10%;
    align-items: center;
    text-align: left;
    justify-content: center;
    
    
}

.mid-about {
    margin: 0 75px 0 75px ;
}
/* Planet Arrangement*/
.venu {
    width: 60px;
    padding: 5px 2px 0 2px;
}
.uranu {
    width: 60px;
    padding: 5px 2px 0 2px;
}
.neptun {
    width: 60px;
    padding: 5px 2px 0 2px;
}
.su{
    width: 60px;
    padding: 5px 2px 0 2px;
}
.unknow {
    width: 60px;
    padding: 5px 2px 0 2px;
}

.planet-straight {
    padding: 10% 10% 0 10%;
}



/*table*/
.venus {
    width: 68px;
}

.uranus {
    width: 80px;
}

.neptune {
    width: 95px;
}

.unknown {
    width: 93px;
}
.planet-arrangement {
    margin-top: 130px;
    padding: 0, 10%, 0, 10%;
}
.planet-space {
    padding-bottom: 20px;
    padding-left: 20px;
}
.sun {
    width: 25px;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
  }


  .me-card {
    margin: 7rem 50px 0 50px;
    padding: 5%;
    color: var(--primary-color);
    background-color: var(--nav-color);
    max-width: 60%;
  }


  .contact-list {
    padding: 0 10% 0 10%;
    /* margin-left: 50px; */
    /* color: var(--primary-color); */
    color: var(--navicon-color);
  }

  .wyd {
    font-size: 30px;
    /* color:  var(--tetiary-color); */
    color: var(--navicon-color);
    font-weight: bold;
    padding: 50px 10% 0 10%;
    overflow: hidden;
  }

  .hori-rule {
    color: var(--undertone-color);
    max-width: 60%;
    margin: auto;
    margin-left: 75px;
  }

  .updater {
    color: var(--primary-color);
    margin: 0 10% 0 10%;
  }
  .sub-head {
    font-size: 20px;
    font-family: sans-serif;
    /* color:  var(--tetiary-color); */
    color: var(--navicon-color);
    font-weight: bold;
    margin-left: 75px;
    margin-top: 10px;
    overflow: hidden;
  }
  
  .foota {
    display: flex-box;
    text-align: center;
    align-items: center;
    margin-top: 50px;
    padding: 15%;
    
  }

  .footer-link {
    color: var(--undertone-color);
    text-decoration: none;
    padding: 10px;
  }
  /* Writing page styles*/
  .years {
    color: #90ee90;
    font-size: 20px;
    font-family: sans-serif;
    font-weight: bold;
    padding: 20px 10% 0 10%;
    margin-top: 10px;
    overflow: hidden;
  }

  .arti {
    font-size: 18px;
    font-weight: 500;
    /* color: var(--primary-color); */
    color: var(--navicon-color);
    padding: 20px 10% 0 10%;
    align-items: center;
    text-align: left;
    justify-content: center;
  }
  

  /*NewsLetter Section*/
  .news-btn {
    font-size: 18px;
    font-weight: 500;
    /* color: var(--primary-color); */
    color: var(--navicon-color);
    padding: 10px 20px 10px 20px;
    align-items: center;
    background-color: var(--background-color);
    /* border: 0.1px solid var(--primary-color); */
    border: 0.1px solid var(--navicon-color);
    margin: 10px 10% 0 10% ;
  }

  .news-btn:hover {
    outline: none;
    border-color: #ebebeb;
    box-shadow: 0 0 2.5px #ebebeb;
  } 

  .in-touch {
    font-size: 32px;
    /* color:  var(--tetiary-color); */
    color: var(--navicon-color);
    font-weight: bold;
    margin: 0 10% 0 10%;
    margin-top: 20%;
    overflow: hidden;
    /* text-align: left; */
  }

  .in-touch-word {
    font-size: 18px;
    /* color: var(--primary-color); */
    color: var(--navicon-color);
    padding: 10px 10% 0 10%;
    align-items: center;
    text-align: left;
    justify-content: center;
  }

  .news-letter {
    
  }

  /* projects secs */

  .prjt-card {
    margin: 50px 10% 0 10%;
    padding: 20px;
    background-color: var(--nav-color);
    border-radius: 5px;
  }

  .prjt-year {
    color: var(--yearprjt-color);
  }

  .prjt-name {
    color: var(--navicon-color);
    font-weight: 700;
  }

  .prjt-desc {
    color: var(--navicon-color);
  }

  .prjt-btn {
    border: 0.01px groove var(--navicon-color);
    /* border: thin var(--navicon-color); */
    border-radius: 5px;
    box-sizing: border-box;
    padding: 5px;
    background-color: var(--nav-color);
    color: var(--navicon-color);
  }

  .prjt-header {
    font-size: 32px;
    font-weight: bold;
    margin: 0 10% 0 10%;
    margin-top: 100px;
    overflow: hidden;
    text-align: left;
    color: var(--navicon-color);
  }

  .linka {
    padding-left: 2px;
  }

  /* table of content */
  .toc {
    color: var(--navicon-color);
    font-weight: 700;
    padding-bottom: 10px;
  }
  .subheading {
    color: var(--navicon-color);
    font-size: 12px;
    font-weight: 500;
  }

  .toc-card {
    margin: 50px 10% 0 10%;
    padding: 20px;
    background-color: var(--nav-color);
    border-radius: 5px;
  }

  .table-content {
    margin-top: 30%;
  }